.welcome-message-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .dialog-body {
    padding-bottom: 0;
  }

  & .enjoy {
    float: right;
    margin-top: 10rem;
    margin-right: 0.8rem;
    display: flex;
    padding-bottom: 0.5rem;

    & .letter {
      font-family: cursive;
      font-size: 3rem;
      font-weight: bold;
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      box-shadow: var(--box-shadow-02);
      margin-right: -0.65rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .E {
      background-color: #67cbff;
      color: #006599;
    }

    & .N {
      margin-top: -0.75rem;
      background-color: #f6ae67;
      color: white;
    }

    & .J {
      background-color: #ff689b;
      color: #fecccb;
    }

    & .O {
      margin-top: 0.75rem;
      background-color: #9acc32;
      color: white;
    }

    & .Y {
      background-color: #65cafc;
      color: white;
    }

    & .exclamation {
      margin-top: -0.75rem;
      background-color: #fd6599;
      color: white;
    }
  }

  & .dialog-footer {
    display: none;
  }
}
