.toast-container {
  z-index: 100000;
  position: fixed;
  top: calc(var(--navbar-height) + 1.5rem);
  right: -30rem;
  width: 30rem;
  border-radius: 0.3rem;
  transition: right 0.5s ease-in;
  padding: 1.5rem;
  background-color: var(--toast-background-color);
  color: var(--toast-color);
  border: 1px solid var(--toast-border-color);
  font-size: 1.5rem;
}
