@import './atom-one-light.min.css';
.text-to-type-page {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  max-width: 94rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-to-type-container {
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  flex: 1;

  & .text-to-type {
    position: relative;
    padding: 1rem 2rem 2rem;
    background-color: var(--text-to-type-background-color);
    border-radius: 0.3rem;
    white-space: pre-wrap;

    &.blink span.cursor {
      color: var(--current-char-to-type-color);
      background-color: var(--current-char-to-type-background-color);
    }

    &.disabled {
      & span {
        opacity: 0.5;
      }

      & span.cursor {
        color: var(--body-color);
        background-color: var(--body-background-color);
      }

      &::before {
        cursor: pointer;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0.3rem;
        background-color: rgba(0, 0, 0, 0.05);
      }

      &::after {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: 'click to enable typing';
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--primary-color);
        background-color: var(--click-to-enable-background-color);
        border: 2px solid var(--primary-color);
        border-radius: 100rem;
        padding: 0.7rem 5.5rem;
      }
    }
  }

  & span {
    font-family: 'Roboto Mono';
    font-size: 1.8rem;
  }

  & span.whitespace {
    color: var(--whitespace-color);
  }

  & span.dot.NOK {
    opacity: 0.7;
  }

  & span.NOK {
    color: var(--nok-typed-char-color);
    border-bottom: 3px solid var(--nok-typed-char-color);
  }

  & span.OK {
    opacity: 0.5;
  }
}

.text-to-type-reference {
  margin-top: 4rem;
  z-index: 300;
  font-size: 1.6rem;
  color: var(--text-to-type-reference-color);
  font-weight: bold;
  padding: 0.7rem 0;

  & > span {
    padding: 0.75rem 2rem;
    background-color: var(--text-to-type-background-color);
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }

  & .reference-prefix {
    color: var(--body-color);
  }
}

.view-typing-progress-button {
  color: var(--secondary-color);
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  text-align: center;
}
