.training-title {
  margin: 2rem 8rem 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.training-container2 {
  margin: 0 8rem;
  position: relative;

  & .arrow-left,
  & .arrow-right {
    z-index: 200;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--arrow-background-color);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 100rem;
    box-shadow: var(--box-shadow-01);
  }

  & .arrow-left {
    left: 1.2rem;
  }

  & .arrow-right {
    right: 1.2rem;
  }

  & .arrow-left,
  & .arrow-right {
    font-size: 3.7rem;
  }
}

.training-container1 {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.training-lesson-container {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 0.3rem;
  width: 8rem;
  height: 8rem;
  background-color: var(--training-keys-background-color);
  margin-right: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.selected {
    // border: 2px solid var(--secondary-color);

    & span {
      color: var(--secondary-color);
    }
  }

  &.avg-wpm-lt-10::after,
  &.avg-wpm-lt-20::after,
  &.avg-wpm-lt-30::after,
  &.avg-wpm-lt-40::after,
  &.avg-wpm-lt-50::after,
  &.avg-wpm-gte-50::after {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    left: 0.4rem;
    right: 0.4rem;
    height: 0.6rem;
    border-radius: 100rem;
  }

  &.avg-wpm-lt-10::after {
    background-color: var(--typed-key-avg-wpm-lt-10);
  }
  &.avg-wpm-lt-20::after {
    background-color: var(--typed-key-avg-wpm-lt-20);
  }
  &.avg-wpm-lt-30::after {
    background-color: var(--typed-key-avg-wpm-lt-30);
  }
  &.avg-wpm-lt-40::after {
    background-color: var(--typed-key-avg-wpm-lt-40);
  }
  &.avg-wpm-lt-50::after {
    background-color: var(--typed-key-avg-wpm-lt-50);
  }
  &.avg-wpm-gte-50::after {
    background-color: var(--typed-key-avg-wpm-gte-50);
  }

  & .lesson-label {
    font-weight: bold;
    font-size: 2rem;
  }
}

// .training-row-container {
//   margin-right: 1.5rem;
//   position: relative;

//   &::after {
//     content: '';
//     width: 0.5rem;
//     border-radius: 0.3rem;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: -1rem;
//     background-color: var(--training-keys-background-color);
//   }
// }

// .training-row-container:last-of-type {
//   margin-right: 0;

//   &::after {
//     display: none;
//   }
// }

@media screen and (max-width: 768px) {
  .training-title {
    margin: 2rem 0 0.4rem;
  }

  .training-container2 {
    margin: 0;
  }
}

.training-lesson-level-container {
  flex-shrink: 0;
  border-radius: 0.3rem;
  width: 3rem;
  height: 8rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 239, 239);
  background-color: #078ded17;

  & span {
    // text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.35rem;
    font-weight: bold;
    white-space: nowrap;
    transform: rotate(-90deg);
  }
}
