.training-title {
  margin: 2rem 8rem 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.training-container {
  margin: 0 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.training-keys-container {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 0.3rem;
  width: 8rem;
  height: 8rem;
  background-color: var(--training-keys-background-color);
  margin-right: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.selected {
    // border: 2px solid var(--secondary-color);

    & span {
      color: var(--secondary-color);
    }
  }

  &.avg-wpm-lt-10::after,
  &.avg-wpm-lt-20::after,
  &.avg-wpm-lt-30::after,
  &.avg-wpm-lt-40::after,
  &.avg-wpm-lt-50::after,
  &.avg-wpm-gte-50::after {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    left: 0.4rem;
    right: 0.4rem;
    height: 0.6rem;
    border-radius: 100rem;
  }

  &.avg-wpm-lt-10::after {
    background-color: var(--typed-key-avg-wpm-lt-10);
  }
  &.avg-wpm-lt-20::after {
    background-color: var(--typed-key-avg-wpm-lt-20);
  }
  &.avg-wpm-lt-30::after {
    background-color: var(--typed-key-avg-wpm-lt-30);
  }
  &.avg-wpm-lt-40::after {
    background-color: var(--typed-key-avg-wpm-lt-40);
  }
  &.avg-wpm-lt-50::after {
    background-color: var(--typed-key-avg-wpm-lt-50);
  }
  &.avg-wpm-gte-50::after {
    background-color: var(--typed-key-avg-wpm-gte-50);
  }

  & .keys {
    font-weight: bold;
    font-size: 2rem;
  }
}
