.increase-decrease-font-icon-container {
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    font-size: 1.6rem;
    padding: 0.65rem 1rem;
  }

  & .increase-font-icon,
  & .decrease-font-icon {
    cursor: pointer;
    font-weight: bold;
  }

  & .increase-font-icon:hover,
  & .decrease-font-icon:hover {
    background-color: var(--increase-decrease-font-icon-background-color-on-hover);
  }

  & .font-size {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }
}
